body {
    text-align: center;    
}
div {
height: 100px;
width: 100px;
display:inline-block;
border: 2px solid black;


}
#container { 
    width: 600px;
    height:600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start;

}
#box1{
    background-color: navy;
    height: 600px;
    flex-shrink: 0.5;
}
#box2{
    background-color: palevioletred;
    height: 500px;
}#box3{
    background-color: red;
    height: 400px;
}#box4{
    background-color: crimson;
    height: 300px;
}#box5{
    background-color: blueviolet;
    height: 200px;
    
}