div {
    height:100px ;
    width: 100px;
    
    background-color: cadetblue;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left:100px;
     animation-name: spanAnimate  2sec ease-in 0s infinite normal;
    
}

@keyframes spanAnimate {
    from { left:0px;
    background-color: chocolate;
}

        to {
            left:200px;
            background-color: crimson;
            color:white;
        }
    

}







