/* h1{
    color:gold;
}
p{
    color: brown;
}
button{
    color: wheat;
    background-color: #dada53;
}
body{
    background-color: burlywood;
} */
 *{
    color: cadetblue;
 } 
 
 #headingone{
    color:red;
 }
 #headingtwo{
    color: hotpink;
 }
 .myclass{
    color: brown;
 }