 * {
    padding: 0;
    margin: 0;
    color: cornsilk;

}
#navbar {
    height: 60px;
    background-color: black;
}
button{
    background-color: orangered;
}
#logo{
    color: tomato;
    font-size: 25px;
}
a {
    margin-right: 200px;
    text-decoration: none;
}