div {
    height: 200px;
    width: 200px;
    background-color: lightcoral;
} 
@media(max-width: 300px){
    div{
        background-color: cadetblue;
    }
}
@media(min-width: 300px) and (max-width: 400px){
    div{
        background-color: orange;
    }
}

@media(min-width: 600px){
    div{
        background-color: firebrick;
    }
}