 * {
    padding: 0;
    margin: 0;
    

}
#navbar {
    height: 60px;
    color: cornsilk;
    background-color: black;
}
button{
    background-color: orangered;
}
#logo{
    color: tomato;
    font-size: 25px;
}
a {
    margin-right: 200px;
    text-decoration: none;
    color: white;
}




.div{
    height: 100px;
    width: 100px;
    border: 2px  solid black;
    display: inline-table;
}
#contant{
    height: 300px;
}
footer{
    background-color: brown;
    color: cornsilk;
    text-align: center;
}